.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  text-decoration: dashed;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-family: Jazz LET, fantasy; 
  font-size: 1em;
  font-weight: 500;
  background-color: #6a5983;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:active {
  background-color: #5a4d6e;
}

select {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: Jazz LET, fantasy; 
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(155, 102, 102);
  cursor: pointer;
  transition: border-color 0.25s;
}
select:hover {
  border-color: #ffffff;
}